// Colors
$brandColour: #00F6B6;
$greyDark: #B3B2B2;
$greyMedium: #D3D3D3;
$greyLight: #E1E1E1;
$offWhite: #FCFCFC;
 
// For url links
$link: #2F4DD1;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Tablet Narrow
$tablet: 26rem;
$desktop: 80rem;

// Max-width
$max-width: 120rem;


html {
  font-size: 10px;
}
#app {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2 {
  margin: 0;
}
h2 {
  font-size: 1.9rem;
  margin: 0;
}
p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 20px 0 0;
}
li, a {
  font-size: 1.5rem;
  line-height: 1.6;
}
li {
  margin-bottom: 10px;
}

@media screen and (min-width: $tablet) {
  li {
    line-height: 29px;
    margin-bottom: 20px;
  }
}
